.grid-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid;
  margin-bottom: 1em;
  padding: 1em;
}

.grid-item figure {
  display: block;
margin-block-start: 0;
margin-block-end: 0;
margin-inline-start: 0;
margin-inline-end: 0;
}
.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-item h3 {

}
